.logo {
  align-items: center;
  display: flex;
  gap: 0 10px;
  max-width: 164px;
  min-height: 40px;
  width: fit-content;
}

.logo_title {
  color: inherit;
  font: 500 32px / 1.3 var(--font-family-three);
  text-align: center;
}
