.page_wrapper {
  background: var(--color-white);
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.not_found_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  row-gap: 24px;
}

.not_found_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 400 24px / 1.33333 var(--font-family-one);
}

.not_found_code {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.not_found_description {
  margin: 0;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
